{{#if (or action.provider.isPending action.target.isPending)}}
    {{action-feed-entry-skeleton}}
{{else}}
    <div class="p-b-lg">
        <div class="icon {{iconClass}}">
            <i class="fa {{icon}}"></i>
        </div>
        <div class="action-body">
            <div class="action-date">
                {{moment-format action.dateCreated 'MMMM D, Y'}}
            </div>
            <div class="action-heading">
                {{action.creator.fullName}}
                {{message}}
            </div>
            <div class="action-detail">
                {{#link-to 'preprints.provider.preprint-detail' action.provider action.target}}
                    {{action.target.title}}
                {{/link-to}}
            </div>
        </div>
    </div>
{{/if}}
